.snap-install {
  display: flex;
  flex-direction: column;
  align-items: center;
  .snap-requests-permission {
    @include H7;

    padding: 16px;
  }
  .source-code {
    @include H7;

    display: flex;
    color: $ui-4;
    .link {
      color: $primary-blue;
      margin-left: 4px;
      cursor: pointer;
    }
  }
}
